* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu{
  list-style-type: none; /*elimina las viñetas o numeración de una lista.*/
  background-color: rgb(255, 167, 240);
  padding-block: 30px; /*PADDING PARA ARRIBA Y ABAJO*/
  margin-bottom: 25px;
  display: flex;
}

.menu_item{
  color: black;
  display: inline;
  
}

.menu_item a{ /*SE PUEDE ESPECIFICAR UN ELEMENTO Q ESTE DENTRO DE OTRO*/
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-weight: bolder;
  margin-left: 100px;
  justify-content:center;   /* centra horizontalmente */
  
  /**/
  display: inline-block; 
  transition: all 0.3s ease;
  transform: translateY(-10px);/*El boton se eleva 10px para arriba*/
}

.menu_item.active  a{/*Aca se llama al elemento "a=link", el cual esta 
  dentro de estas otras 2 clases*/
  text-decoration: underline double;
}

.menu_item a:hover{/*A:HOVER es para indicar que cuando el boton 
  de un item del menu se le pose el click cambie de color*/
  background-color: rgb(182, 104, 255);
  text-decoration: underline dotted;
  transform: scale(1.2);
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-block: 15px;
}

/* 
FLEXBOX

display: flex;
Convierte al contenedor en un "flex container". 
Todos los elementos hijos pasan a organizarse automáticamente en una fila.

flex-wrap: wrap;
Permite que los elementos bajen a la siguiente línea cuando ya no hay espacio
horizontal suficiente. Sin esto, los elementos intentarían mantenerse en una
sola fila y podrían romper el diseño.

gap:
Agrega espacio entre los elementos flex sin necesidad de usar margin en cada
elemento.

Estructura:
Contenedor (display:flex)
├ elemento
├ elemento
├ elemento
└ elemento

El contenedor controla la distribución de los elementos hijos.
*/



.contenedor{
  display:flex;
  /* convierte el elemento en un contenedor flex.
    todos sus hijos directos pasan a ser "flex items".
    a partir de acá el navegador deja de usar el flujo normal
    (block/inline) y usa el algoritmo de flexbox para acomodarlos.
    Por defecto los elementos se colocan en una fila horizontal. */
  
  flex-wrap:wrap;
  /* permite que los elementos bajen a una nueva fila si no hay
    espacio suficiente en la línea actual.
    Sin esto (wrap) las cartas intentarían quedarse todas en
    una sola fila y empezarían a comprimirse o desbordarse.
    
    Con wrap el comportamiento es:
    [card][card][card]
    [card][card]
    */
  margin: 15px;
  gap:20px;
  /* crea una separación de 20px entre los flex items.
  reemplaza el uso de margins para separar elementos.
  Funciona tanto horizontal como verticalmente cuando
  las cartas saltan a otra línea por el wrap. */
  justify-content: center; /* alinea horizontalmente */
}

.cartita{
  
  flex: 1 1 300px;
  
  /* flex es una forma corta de escribir:
  
    flex-grow   flex-shrink   flex-basis
        │           │            │
        │           │            └ tamaño base del elemento
        │           └ permite que el elemento se encoja si no hay espacio
        └ permite que el elemento crezca si sobra espacio
    
    En este caso:
    
    flex-grow: 1
    Si sobra espacio en la fila, las tarjetas pueden agrandarse
    para ocupar ese espacio disponible.
    
    flex-shrink: 1
    Si el contenedor es más chico que el tamaño base,
    las tarjetas pueden achicarse para que entren.
    
    flex-basis: 300px
    Este es el tamaño inicial que el navegador intenta usar
    para cada tarjeta antes de repartir o reducir espacio.
    
    El navegador calcula automáticamente cuántas tarjetas
    entran por fila tomando 300px como referencia.*/
  
  max-width: 400px;
  background-color: rgb(193, 193, 193);
  padding: 10px;
  border-radius: 40px;
  margin-block: 2vh;
  display:flex;
  flex-direction:column;
  
  height:auto;        /* la altura se adapta al contenido */
  overflow-wrap:break-word; /* rompe palabras largas */
  
}

.cartita_imagen{
  width: 90%;
  height: auto;
  border-radius: 40px;
  border: 2px solid gray;
  margin-block: 2%;/*margen general se calcula en base a la altura del 
  contenedor, en este caso es el margin-inline: 1vw; de cartita*/
  margin-inline:5% ;
}

.cartita_titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px;
}

.cartita_parrafo{
  font-size: 18px;
  margin-inline: 5%;
  margin-block: 5%;
}

.cartita_boton{
  border-radius: 100px;
  padding: 3%;/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
  background-color: rgb(190, 75, 171);
  border: none;
  margin: 5%;/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
  margin-top: auto; /*empuja el boton al final del contenedor*/
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease;
}

.cartita_boton:hover{
  background-color: blueviolet;
  transform: scale(1.1);
  transform: translateY(-10px);
}


.presentacion_contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centro horizontal */
  align-items: center; /*centro vertical*/
  height:auto;  
  gap: 50px;   
  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* sube */
  }
  100% {
    transform: translateY(0); /* baja */
  }
}

.presentacion_cartita{
  
  flex: 1 1 300px;
  max-width: 500px;
  background-color: rgb(255, 179, 236);
  border: 4px solid rgb(92, 0, 88);
  padding: 10px;
  border-radius: 40px;
  margin-block: 2vh;
  display:flex;
  flex-direction:column;
  height:auto;        
  overflow-wrap:break-word; 
}

.cartita_imagen{
  width: 80%;
  height: auto;
  border-radius: 40px;
  border: 2px solid gray;
  margin-block: 2%;/*margen general se calcula en base a la altura del 
  contenedor, en este caso es el margin-inline: 1vw; de cartita*/
  margin-inline:10% ;
}


.presentacion_parrafo{
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-inline: 5%;
  margin-block: 5%;
}
.menu_item a:hover{/*A:HOVER es para indicar que cuando el boton 
  de un item del menu se le pose el click cambie de color*/
  background-color: rgb(182, 104, 255);
  text-decoration: underline dotted;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-block: 15px;
}

/* 
FLEXBOX

display: flex;
Convierte al contenedor en un "flex container". 
Todos los elementos hijos pasan a organizarse automáticamente en una fila.

flex-wrap: wrap;
Permite que los elementos bajen a la siguiente línea cuando ya no hay espacio
horizontal suficiente. Sin esto, los elementos intentarían mantenerse en una
sola fila y podrían romper el diseño.

gap:
Agrega espacio entre los elementos flex sin necesidad de usar margin en cada
elemento.

Estructura:
Contenedor (display:flex)
├ elemento
├ elemento
├ elemento
└ elemento

El contenedor controla la distribución de los elementos hijos.
*/



.contenedor{
  display:flex;
  /* convierte el elemento en un contenedor flex.
    todos sus hijos directos pasan a ser "flex items".
    a partir de acá el navegador deja de usar el flujo normal
    (block/inline) y usa el algoritmo de flexbox para acomodarlos.
    Por defecto los elementos se colocan en una fila horizontal. */
  
  flex-wrap:wrap;
  /* permite que los elementos bajen a una nueva fila si no hay
    espacio suficiente en la línea actual.
    Sin esto (wrap) las cartas intentarían quedarse todas en
    una sola fila y empezarían a comprimirse o desbordarse.
    
    Con wrap el comportamiento es:
    [card][card][card]
    [card][card]
    */
  margin: 15px;
  gap:20px;
  /* crea una separación de 20px entre los flex items.
  reemplaza el uso de margins para separar elementos.
  Funciona tanto horizontal como verticalmente cuando
  las cartas saltan a otra línea por el wrap. */
  justify-content: center; /* alinea horizontalmente */
}

.cartita{
  
  flex: 1 1 300px;
  
  /* flex es una forma corta de escribir:
  
    flex-grow   flex-shrink   flex-basis
        │           │            │
        │           │            └ tamaño base del elemento
        │           └ permite que el elemento se encoja si no hay espacio
        └ permite que el elemento crezca si sobra espacio
    
    En este caso:
    
    flex-grow: 1
    Si sobra espacio en la fila, las tarjetas pueden agrandarse
    para ocupar ese espacio disponible.
    
    flex-shrink: 1
    Si el contenedor es más chico que el tamaño base,
    las tarjetas pueden achicarse para que entren.
    
    flex-basis: 300px
    Este es el tamaño inicial que el navegador intenta usar
    para cada tarjeta antes de repartir o reducir espacio.
    
    El navegador calcula automáticamente cuántas tarjetas
    entran por fila tomando 300px como referencia.*/
  
  max-width: 400px;
  background-color: rgb(193, 193, 193);
  padding: 10px;
  border-radius: 40px;
  margin-block: 2vh;
  display:flex;
  flex-direction:column;
  
  height:auto;        /* la altura se adapta al contenido */
  overflow-wrap:break-word; /* rompe palabras largas */
  
}

.cartita_imagen{
  width: 90%;
  height: auto;
  border-radius: 40px;
  border: 2px solid gray;
  margin-block: 2%;/*margen general se calcula en base a la altura del 
  contenedor, en este caso es el margin-inline: 1vw; de cartita*/
  margin-inline:5% ;
}

.cartita_titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px;
}

.cartita_parrafo{
  font-size: 18px;
  margin-inline: 5%;
  margin-block: 5%;
}

.cartita_boton{
  border-radius: 100px;
  padding: 3%;/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
  background-color: rgb(190, 75, 171);
  border: none;
  margin: 5%;/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
  margin-top: auto; /*empuja el boton al final del contenedor*/
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.cartita_boton:hover{
  background-color: blueviolet;
}
